/**
{
    margin:0;
    padding:0;
}*/
body{
    background-color: orange;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}
.marquee{
    color: blue;
}
.footer{
    background-color: grey;
}